<h2> Tic Tac Toe</h2>

<script>
    let board =[["","",""],["","",""],["","",""]];
    let turn = "X";
    var i=0;
    var j=0;

    function onclick(i,j) {
        if(!board[i][j]) {
        board[i][j] =turn;
        const winner = getWinner();
        if (winner == 'X' || winner == 'O') {
            alert(winner + " wins");
        }

        
        turn = turn === 'X'?'O' : 'X';  
        }
    }

    function getWinner() {
        for(i=0;i<3;i++) {
            if(board[i][0]===board[i][1] && board[i][0]===board[i][2]) {
                return board[i][0];
            }
        }for(j=0;j<3;j++) {
            if(board[0][j]===board[1][j] && board[0][j]===board[2][j]) {
                return board[0][j];
            }
        }
        if(board[0][0]===board[1][1] && board[0][0]===board[2][2]) {
                return board[0][0];
            }

        if(board[0][2]===board[1][1] && board[0][2]===board[2][0]) {
                return board[0][j];
            }
    }
</script>
<style>
    table {
        width: 100%;
        max-width:800px;
        border-collapse: collapse;
        font-size: 8em;
    }
    td {
        border: 1px solid #100;
        text-align: center;
        height: 1em;
        width: 1em;
    }
</style>
<table>
    <tbody>
        {#each board as row,i}
        <tr>
            {#each row as column,j}
            <td on:click={() => onclick(i,j)}>{column}</td>
            {/each}
        </tr>
        {/each}
        
    </tbody>
</table>