<script>
	import { Router, Link, Route } from "svelte-routing";
	import Home from "./routes/ListOfGames.svelte";
	import Games from "./routes/Games.svelte";
	import board from "./routes/Games.svelte";
  
	export let url = "";
  </script>
  <style>
	  :global(body) {
		margin: auto;
		padding: auto;
	  }
	  header {
		  display: flex;
		  justify-content: space-between;
		  background: goldenrod;
	  }
	  nav {
		  display: flex;
		  list-style-type: none;
		  margin: 0;
	  }

	  :global(header a) {
		  padding: 1em;
		  display: block;
		  color: wheat !important;
	  }


	  
  </style>
  <Router url="{url}">
	  <header>
	<nav>
	  <Link to="/">List Of Games</Link>
	  <Link to="Games">Games</Link>
	  <!-- <Link to="blog">Blog</Link> -->
	</nav>
	</header>
	<div>
	  <Route path="Games" component="{Games}" />
	  <Route path="/" component="{Home}"/>
	</div>
  </Router>
  <board/>